@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BooksViewModel

@* iterate through BooksViewModel to pull book info *@
@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b"/>
}

@* implement tag helper created *@
<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1"></div>

